<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="2" android:versionName="0.1.1">
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="星铁体力小工具" android:icon="@drawable/Icon" />
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="29" />
</manifest>